<div class="col-sm-2">
    <div class="centered-image">
        <img src="images/{{user.avatar}}">
        <span>{{user.name}}</span>
    </div>
</div>
<div class="col-sm-10">
    <div class="clearfix">
        <div class="pull-left margin-right-1">
            <h3 class="margin-top-0">{{title}}</h3>
        </div>
        <div class="pull-left margin-right-1">
            {{date}}
        </div>
        <div class="pull-left">
            {{#renderStars star_rating}}{{/renderStars}}
        </div>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
</div>
