<div class="col-sm-2">
    <figure class="review-figure">
        <img src="images/{{user.avatar}}">
        <figcaption>{{user.name}}</figcaption>
    </figure>
</div>
<div class="col-sm-8">
    <div class="review">
        <h3 class="review-title">{{title}}</h3>
        <div class="review-date">
            {{date}}
        </div>
        <div class="review-starRating">
            {{#renderStars star_rating}}{{/renderStars}}
        </div>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
</div>
